<div layout="column" layout-align="center center" style="height: 100%;">
  <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" style="height: 50%; width: 50%;">
    <textarea layout-margin ng-model="ApplicationCtrl.text" style="height: 100%; width: 100%;"></textarea>
  </md-whiteframe>
  <button class="md-button" ng-click="ApplicationCtrl.exec(ApplicationCtrl.text)">СТАРТ</button>

  <div style="background-color: white;" ng-show="ApplicationCtrl.activeGraph">
    <canvas id="line"
            class="chart chart-line"
            chart-data="ApplicationCtrl.data"
            chart-labels="ApplicationCtrl.labels"
            chart-series="ApplicationCtrl.series"
            chart-options="ApplicationCtrl.options">
    </canvas>
  </div>
  <div style="background-color: white;" ng-show="ApplicationCtrl.activeGraph">
    <canvas id="line2"
            class="chart chart-line"
            chart-data="ApplicationCtrl.data2"
            chart-labels="ApplicationCtrl.labels2"
            chart-series="ApplicationCtrl.series"
            chart-options="ApplicationCtrl.options">
    </canvas>
  </div>
</div>